{% extends "components/base/base_admin.html.twig" %}

{% block body %}

    <div class="card mb-5">
        {% if post is defined and post is not null %}
            <!-- Navigation Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="post-details-tab" data-bs-toggle="tab" data-bs-target="#post-details" type="button" role="tab" aria-controls="post-details" aria-selected="true">Détails du Post</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="post-commentary-tab" data-bs-toggle="tab" data-bs-target="#post-commentary" type="button" role="tab" aria-controls="post-commentary" aria-selected="false">Commentaires</button>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content" id="myTabContent">
                <!-- First Tab: Post Details -->
                <div class="tab-pane fade show active" id="post-details" role="tabpanel" aria-labelledby="post-details-tab">
                    <div class="card-header">
                        <h1>{{ post.title }}</h1>
                        <span>{{ post.lede }}</span>
                    </div>
                    <div class="card-body">
                        {{ post.content | raw }}
                    </div>
                </div>

                <!-- Second Tab: Post Commentary -->
                <div class="tab-pane fade" id="post-commentary" role="tabpanel" aria-labelledby="post-commentary-tab">
                    <div class="card-header">
                        <h2>Commentaires</h2>
                    </div>
                    <div class="card-body">
                        {% if comments is defined and comments|length > 0 %}
                            <ul class="list-group">
                                {% for comment in comments %}
                                    <li class="list-group-item">
                                        <strong>{{ comment.author }}:</strong> {{ comment.content }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Aucun commentaire pour ce post.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
