{% set asset_path = '../../' %}
{% extends "components/base/base_admin.html.twig"%}

{% block body %}
    {% if message is defined and message is not null %}
        <div class="alert alert-danger" role="alert">
            <span><i class="fa fa-warning"></i> </span>
            <span>{{ message }}</span>
        </div>
    {% endif %}
    <div class="card mb-md-5">
        <div class="card-header">
            <h1>Modification d'un utilisateur</h1>
        </div>

        <div class="card-body">
            <form method="POST" action="{{path('edit_user_action', { 'id': user.id})}}" enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col col-md-6">
                        <label for="first_name" class="form-label">Prénom</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="first_nameHelp" value="{{ user.firstName }}" required>
                        <div id="first_nameHelp" class="form-text"></div>
                    </div>
                    <div class="col col-md-6">
                        <label for="last_name" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="last_nameHelp" value="{{ user.lastName }}" required>
                        <div id="last_nameHelp" class="form-text"></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-md-6">
                        <label for="avatar" class="form-label">Avatar</label>
                        <input type="file" class="form-control" id="avatar" name="avatar" accept="image/png, image/jpeg" />
                    </div>
                    <div class="col col-md-6">
                        <label for="role" class="form-label">Rôle</label>
                        <select id="role" name="role" class="form-select" aria-label="role" required>
                            <option disabled>Choisissez un rôle pour l'utilisateur</option>
                            <option {% if user.role == 'ROLE_USER' %}selected{% endif%}  value="ROLE_USER">Utilisateur</option>
                            <option {% if user.role == 'ROLE_ADMIN' %}selected{% endif%} value="ROLE_ADMIN">Administrateur</option>
                        </select>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col col-md-6">
                        <label for="email" class="form-label">Addresse mail</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{{ user.email }}" required>
                        <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre e-mail avec qui que ce soit d'autre.</div>
                    </div>
                    <div class="col col-md-6">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                </div>

                <div class="d-flex justify-content-center justify-content-md-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>

    </div>

{% endblock %}